:root {
    --col-pant1: #080706;
    --col-pant2: #363237;
    --col-pant3: #1F1F1F;
    --col-pant4: #040404;
    --col-pant5: #73231B;
    --col-pant6: #56201E;
    --col-text1: #E0E0E0;
    --col-text2: #D2D2D2;
    /* --col-text2: #898A8B; orignal y se debe cambiar a #a2a2a2 para optimizar la visibilidad */
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", serif;
    font-size: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--col-pant1);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    padding: 50px 5%;
}

.header__title {
    color: var(--col-text1);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.header__paragraph,
.defense__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

.header__paragraph__text {
    color: var(--col-text2);
    font-size: 1.05rem;
    font-weight: 400;
}

.main {
    background-color: var(--col-pant1);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5%;
}

.works {
    background-color: var(--col-pant3);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    row-gap: 30px;
    padding: 30px;
}

.works__title,
.defense__title {
    color: var(--col-text1);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.works__years {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.works__years__link {
    background-color: var(--col-pant6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    text-decoration: none;
    border-radius: 5px;
}

.works__years__link:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.works__years__icon {
    color: var(--col-text2);
    font-size: 30px;
}

.works__years__title {
    color: var(--col-text1);
    font-size: 1rem;
    font-weight: 400;
}

.defense {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
    margin: 50px 0;
}

.defense__info__paragraph,
.defense__card__title {
    color: var(--col-text2);
    font-size: 1.05rem;
    font-weight: 400;
}

.defense__info__paragraph-mod {
    font-style: italic;
}

.defense__container {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
    gap: 30px;
}

.defense__card {
    background-color: var(--col-pant3);
    width: 100%;
    border-radius: 5px;
}

.defense__card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 20px;
    text-decoration: none;
    padding: 10px;
}

.defense__card__img {
    display: flex;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover; 
}

.defense__card__img:hover {
    transform: scale(0.95);
    transition: 0.4s;
}

.defense__card__image {
    border-radius: 5px;
}

.defense__card__title-mod {
    text-align: center;
}

.networks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px 0 40px 0;
    row-gap: 20px;
}

.networks__title {
    color: var(--col-text1);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.networks__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.networks__social__link {
    display: flex;
}

.networks__social__icon {
    color: var(--col-pant5);
    font-size: 32px;
}

.networks__social__icon-mod {
    color: var(--col-pant5);
    font-size: 43px;
}

.networks__social__icon-mod2 {
    color: var(--col-pant5);
    max-width: 100%;
    width: 30px;
}

.networks__social__icon:hover,
.networks__social__icon-mod:hover,
.networks__social__icon-mod2:hover {
    transform: scale(1.2);
    transition: all 0.4s ease;
}

.footer {
    background-color: var(--col-pant3);
    width: 100%;
}

.footer__link {
    display: flex;
}

.footer__link__icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--col-pant5);
    font-size: 45px;
}

.footer__copy {
    color: var(--col-text1);
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 800px) {
    .header{
        padding: 30px 5% 50px 5%;
    }

    .header__paragraph__text,
    .defense__info__paragraph,
    .defense__card__title {
    font-size: 1rem;
    }

    .works__years {
        gap: 20px;
    }

    .works__years__link {
        width: 130px;
        height: 130px;
    }

    .networks {
        margin: 50px 0 40px 0;
    }

    .networks__social {
        gap: 20px;
    }
}